<h1>Consulta: <%= appo.description %></h1>
<hr>
<h4>Paciente: <%= appo.name %></h4>
<h4>Email: <%= appo.email %></h4>
<h4>CPF: <%= appo.cpf %></h4>
<hr>
<h4>Data marcada: <%= appo.date.getDate().toFixed(2)%>/
    <%= appo.date.getMonth().toFixed(2) + 1%>/
    <%= appo.date.getFullYear()%> às <%= appo.time%></h4>
<% if(!appo.finished){ %>
    <form action="/finish" method="POST">
        <input type="hidden" name="id" value="<%= appo._id %>">
        <button>Finalizar consulta</button>
    </form>
<% } %>